<div class="container">
    <div class="wrap"> 
        <h1 class="mt-4">JAY KATARIYA</h1>
        <h2 onclick="location.href='./Content/RESUME.pdf'">RESUME</h2>
        <img id="image1" src="Assets/images/Image1.jpeg" alt="Image1">
    
    <div class="myself">
        <div class="About">
            I am a creative designer and developer, who aims to work with small businesses and marginalized communities to bring their passions to life. I offer both design and development services of web applications or websites!
        </div>
    </div>
    </div>
</div>    
