
<div class="projects_wrap">
    <div class="projects">
        <img src="Assets/images/Image6.png" alt="Project 1">
        <p>GPA Calculator<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used .NET&C#</span>
        </p>
    </div>

    <div class="project">
        <img src="Assets/images/Image7.png" alt="Project 2">
        <p>E-commerce App<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used .NET&C#</span>
        </p>
    </div>

    <div class="project">
        <img src="Assets/images/Image8.png" alt="Project 3" height="350px" width="450px">
        <p>Portfolio Web Application<br>
            <span>As a FullStackDev</span>
            <span class="skills">Used EJS, NodeJS</span>
        </p>
    </div>
</div>
