
<div>
    <div class="service_wrap">
        <div class="skill"></div>
        <div class="skill">
            <img src="Assets/images/Image3.png" alt="NodeJS" height="200" width="200">
            <p>NodeJS</p>
        </div>

        <div class="skill"></div>

        <div class="skill">
            <img src="Assets/images/Image4.png" alt="EJS" height="200" width="200">
            <p>ExpressJavaScript</p>
        </div>

        <div class="skill"></div>
        
        <div class="skill">
            <img src="Assets/images/Image5.jpg" alt="Angular" height="200" width="200">
            <p>Angular</p>
        </div>

        <div class="skill"></div>
    </div>
    

</div>